@charset "UTF-8";

* {
  /* height: 100%; */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, #007172, #f4e2de);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(1, 32, 39, 0.911);
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 2px hsla(29, 40%, 15%, 0.426);
}

h2 {
  color: #000000;
}

p {
  text-align: justify;
}
